<div>
  <h2 id="page-heading" data-cy="PreguntaHeading">
    <span jhiTranslate="becare3App.pregunta.home.title">Preguntas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="becare3App.pregunta.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pregunta"
        [routerLink]="['/pregunta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="becare3App.pregunta.home.createLabel"> Create a new Pregunta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="preguntas?.length === 0">
    <span jhiTranslate="becare3App.pregunta.home.notFound">No preguntas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="preguntas && preguntas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pregunta">
            <span jhiTranslate="becare3App.pregunta.pregunta">Pregunta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="condicion.id">
            <span jhiTranslate="becare3App.pregunta.condicion">Condicion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let pregunta of preguntas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pregunta', pregunta.id, 'view']">{{ pregunta.id }}</a>
          </td>
          <td>{{ pregunta.pregunta }}</td>
          <td>
            <div *ngIf="pregunta.condicion">
              <a [routerLink]="['/condicion', pregunta.condicion?.id, 'view']">{{ pregunta.condicion?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pregunta', pregunta.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pregunta', pregunta.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pregunta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
