<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-caloria-heading" data-cy="CaloriaCreateUpdateHeading" jhiTranslate="becare3App.caloria.home.createOrEditLabel">
        Create or edit a Caloria
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.caloria.caloriasActivas" for="field_caloriasActivas"
            >Calorias Activas</label
          >
          <input
            type="number"
            class="form-control"
            name="caloriasActivas"
            id="field_caloriasActivas"
            data-cy="caloriasActivas"
            formControlName="caloriasActivas"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.caloria.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.caloria.fechaRegistro" for="field_fechaRegistro">Fecha Registro</label>
          <div class="d-flex">
            <input
              id="field_fechaRegistro"
              data-cy="fechaRegistro"
              type="datetime-local"
              class="form-control"
              name="fechaRegistro"
              formControlName="fechaRegistro"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.caloria.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
