<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sueno-heading" data-cy="SuenoCreateUpdateHeading" jhiTranslate="becare3App.sueno.home.createOrEditLabel">
        Create or edit a Sueno
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.sueno.superficial" for="field_superficial">Superficial</label>
          <input
            type="number"
            class="form-control"
            name="superficial"
            id="field_superficial"
            data-cy="superficial"
            formControlName="superficial"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.sueno.profundo" for="field_profundo">Profundo</label>
          <input type="number" class="form-control" name="profundo" id="field_profundo" data-cy="profundo" formControlName="profundo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.sueno.despierto" for="field_despierto">Despierto</label>
          <input type="number" class="form-control" name="despierto" id="field_despierto" data-cy="despierto" formControlName="despierto" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.sueno.timeInstant" for="field_timeInstant">Time Instant</label>
          <div class="d-flex">
            <input
              id="field_timeInstant"
              data-cy="timeInstant"
              type="datetime-local"
              class="form-control"
              name="timeInstant"
              formControlName="timeInstant"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.sueno.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
