<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sueno">
      <h2 data-cy="suenoDetailsHeading"><span jhiTranslate="becare3App.sueno.detail.title">Sueno</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sueno.id }}</span>
        </dd>
        <dt><span jhiTranslate="becare3App.sueno.superficial">Superficial</span></dt>
        <dd>
          <span>{{ sueno.superficial }}</span>
        </dd>
        <dt><span jhiTranslate="becare3App.sueno.profundo">Profundo</span></dt>
        <dd>
          <span>{{ sueno.profundo }}</span>
        </dd>
        <dt><span jhiTranslate="becare3App.sueno.despierto">Despierto</span></dt>
        <dd>
          <span>{{ sueno.despierto }}</span>
        </dd>
        <dt><span jhiTranslate="becare3App.sueno.timeInstant">Time Instant</span></dt>
        <dd>
          <span>{{ sueno.timeInstant | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="becare3App.sueno.user">User</span></dt>
        <dd>
          <span>{{ sueno.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sueno', sueno.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
