<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-alarma-heading" data-cy="AlarmaCreateUpdateHeading" jhiTranslate="becare3App.alarma.home.createOrEditLabel">
        Create or edit a Alarma
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.alarma.timeInstant" for="field_timeInstant">Time Instant</label>
          <div class="d-flex">
            <input
              id="field_timeInstant"
              data-cy="timeInstant"
              type="datetime-local"
              class="form-control"
              name="timeInstant"
              formControlName="timeInstant"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.alarma.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.alarma.procedimiento" for="field_procedimiento">Procedimiento</label>
          <input
            type="text"
            class="form-control"
            name="procedimiento"
            id="field_procedimiento"
            data-cy="procedimiento"
            formControlName="procedimiento"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.alarma.titulo" for="field_titulo">Titulo</label>
          <input type="text" class="form-control" name="titulo" id="field_titulo" data-cy="titulo" formControlName="titulo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.alarma.verificar" for="field_verificar">Verificar</label>
          <input type="checkbox" class="form-check" name="verificar" id="field_verificar" data-cy="verificar" formControlName="verificar" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.alarma.observaciones" for="field_observaciones">Observaciones</label>
          <input
            type="text"
            class="form-control"
            name="observaciones"
            id="field_observaciones"
            data-cy="observaciones"
            formControlName="observaciones"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.alarma.prioridad" for="field_prioridad">Prioridad</label>
          <input type="text" class="form-control" name="prioridad" id="field_prioridad" data-cy="prioridad" formControlName="prioridad" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="becare3App.alarma.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
