<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    <span class="logo-img"></span>
    <span jhiTranslate="global.title" class="navbar-title">Becare3</span>
    <span class="navbar-version">{{ version }}</span>
  </a>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span jhiTranslate="global.menu.home">Home</span>
          </span>
        </a>
      </li>
      <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
      <li
        *ngSwitchCase="true"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span jhiTranslate="global.menu.entities.main">Entities</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="adherencia"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.adherencia">Adherencia</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="agenda"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.agenda">Agenda</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="alarma"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.alarma">Alarma</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="caloria"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.caloria">Caloria</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="condicion"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.condicion">Condicion</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="cuestionario-estado"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.cuestionarioEstado">Cuestionario Estado</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="dispositivo"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.dispositivo">Dispositivo</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="encuesta"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.encuesta">Encuesta</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="farmaceutica"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.farmaceutica">Farmaceutica</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="fisiometria-1"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.fisiometria1">Fisiometria 1</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="frecuencia-cardiaca"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.frecuenciaCardiaca">Frecuencia Cardiaca</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="ingesta"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.ingesta">Ingesta</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="ips"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.ips">IPS</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="medicamento"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.medicamento">Medicamento</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="notificacion"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.notificacion">Notificacion</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="oximetria"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.oximetria">Oximetria</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="paciente"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.paciente">Paciente</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="pasos"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.pasos">Pasos</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="peso"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.peso">Peso</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="pregunta"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.pregunta">Pregunta</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="presion-sanguinea"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.presionSanguinea">Presion Sanguinea</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="programa"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.programa">Programa</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="sueno"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.sueno">Sueno</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="temperatura"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.temperatura">Temperatura</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="token-disp"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.tokenDisp">Token Disp</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="tratamiento-medicamento"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.tratamientoMedicamento">Tratamiento Medicamento</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="tratamieto"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.tratamieto">Tratamieto</span>
            </a>
          </li>
          <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
      </li>
      <li
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span jhiTranslate="global.menu.admin.main">Administration</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/tracker" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="eye" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.health">Health</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.logs">Logs</span>
            </a>
          </li>
          <li *ngIf="openAPIEnabled">
            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.apidocs">API</span>
            </a>
          </li>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
          <li *ngIf="!inProduction">
            <a class="dropdown-item" href="./h2-console/" target="_tab" (click)="collapseNavbar()">
              <fa-icon icon="database" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.database">Database</span>
            </a>
          </li>
        </ul>
      </li>
      <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
          <span>
            <fa-icon icon="flag"></fa-icon>
            <span jhiTranslate="global.menu.language">Language</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
          <li *ngFor="let language of languages">
            <a
              class="dropdown-item"
              [jhiActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >
          </li>
        </ul>
      </li>
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
          <span *ngIf="!getImageUrl()">
            <fa-icon icon="user"></fa-icon>
            <span jhiTranslate="global.menu.account.main">Account</span>
          </span>
          <span *ngIf="getImageUrl()">
            <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar" />
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
          <li *ngSwitchCase="true">
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
              <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </a>
          </li>
          <li *ngSwitchCase="false">
            <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
              <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.login">Sign in</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
