<div>
  <h2 id="page-heading" data-cy="NotificacionHeading">
    <span jhiTranslate="becare3App.notificacion.home.title">Notificacions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="becare3App.notificacion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-notificacion"
        [routerLink]="['/notificacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="becare3App.notificacion.home.createLabel"> Create a new Notificacion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="notificacions?.length === 0">
    <span jhiTranslate="becare3App.notificacion.home.notFound">No notificacions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="notificacions && notificacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fechaInicio">
            <span jhiTranslate="becare3App.notificacion.fechaInicio">Fecha Inicio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaActualizacion">
            <span jhiTranslate="becare3App.notificacion.fechaActualizacion">Fecha Actualizacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estado">
            <span jhiTranslate="becare3App.notificacion.estado">Estado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoNotificacion">
            <span jhiTranslate="becare3App.notificacion.tipoNotificacion">Tipo Notificacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="token.tokenConexion">
            <span jhiTranslate="becare3App.notificacion.token">Token</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let notificacion of notificacions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/notificacion', notificacion.id, 'view']">{{ notificacion.id }}</a>
          </td>
          <td>{{ notificacion.fechaInicio | formatMediumDatetime }}</td>
          <td>{{ notificacion.fechaActualizacion | formatMediumDatetime }}</td>
          <td>{{ notificacion.estado }}</td>
          <td>{{ notificacion.tipoNotificacion }}</td>
          <td>
            <div *ngIf="notificacion.token">
              <a [routerLink]="['/token-disp', notificacion.token?.id, 'view']">{{ notificacion.token?.tokenConexion }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/notificacion', notificacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/notificacion', notificacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(notificacion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
