<div>
  <h2 id="page-heading" data-cy="EncuestaHeading">
    <span jhiTranslate="becare3App.encuesta.home.title">Encuestas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="becare3App.encuesta.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-encuesta"
        [routerLink]="['/encuesta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="becare3App.encuesta.home.createLabel"> Create a new Encuesta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="encuestas?.length === 0">
    <span jhiTranslate="becare3App.encuesta.home.notFound">No encuestas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="encuestas && encuestas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecha"><span jhiTranslate="becare3App.encuesta.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="debilidad">
            <span jhiTranslate="becare3App.encuesta.debilidad">Debilidad</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cefalea">
            <span jhiTranslate="becare3App.encuesta.cefalea">Cefalea</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="calambres">
            <span jhiTranslate="becare3App.encuesta.calambres">Calambres</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nauseas">
            <span jhiTranslate="becare3App.encuesta.nauseas">Nauseas</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vomito">
            <span jhiTranslate="becare3App.encuesta.vomito">Vomito</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mareo"><span jhiTranslate="becare3App.encuesta.mareo">Mareo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ninguna">
            <span jhiTranslate="becare3App.encuesta.ninguna">Ninguna</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id"><span jhiTranslate="becare3App.encuesta.user">User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let encuesta of encuestas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/encuesta', encuesta.id, 'view']">{{ encuesta.id }}</a>
          </td>
          <td>{{ encuesta.fecha | formatMediumDatetime }}</td>
          <td>{{ encuesta.debilidad }}</td>
          <td>{{ encuesta.cefalea }}</td>
          <td>{{ encuesta.calambres }}</td>
          <td>{{ encuesta.nauseas }}</td>
          <td>{{ encuesta.vomito }}</td>
          <td>{{ encuesta.mareo }}</td>
          <td>{{ encuesta.ninguna }}</td>
          <td>
            {{ encuesta.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/encuesta', encuesta.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/encuesta', encuesta.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(encuesta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
